<div class="sideupper">
   <div class="user_name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
   </div>
 <div class="chat_box">
 <a href="#">チャットを作成する</a>
 </div>
</div>

<div class="sidedowner">

 <div class="room_name_side">
  <div class="chat_rtag">
    <a href="#">techroom1</a>
  </div>
 </div>
 
 <div class="room_name_side">
  <div class="chat_rtag">
    <a href="#">techroom2</a>
  </div>
 </div>


</div>