<div class="sideupper">
   <div class="user_name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
   </div>
 <div class="chat_box">
 <%= link_to 'チャットを作成する', new_room_path %>
 </div>
</div>


<div class="sidedowner">

<% Room.all.each do |room| %>
 <div class="room_name_side">
  <div class="chat_rtag">
    <a href="#"><%= room.name %></a>
  </div>
 </div>
<% end %>

</div>